@import "../template.scss";

body{
    background-color:#FFFBFF;
    font-family: Noto Sans, sans-serif;

    h1{
        text-align:center;
        font-weight: 100;
        font-size: 40px;
    }

    #buttons{
        display:flex;
        flex-direction:column;
        width:80%;
        margin:auto;

        div{
            display:flex;
            flex-direction:row;
        }
    }
    
    .button{
        width:15%;
        height:5%;
        margin:20px auto;
        background-color: transparent;
        color:black;
        font-size:1.3vh;
        font-weight: bold;
        border: solid 2px black;
        &:hover{
            cursor: pointer;
        }
    }
    
    .button-1{
        background-color: white;
        border-color: $color-1-secondary;
        color:$color-1-secondary;
    
        &:hover{
            background-color: $color-1-secondary;
            color:white;
            border-width:1px;
        }
    }

    .button-2{
        background-color: white;
        border-color: $color-2-secondary;
        color:$color-2-secondary;
    
        &:hover{
            background-color: $color-2-secondary;
            color:white;
            border-width:1px;
        }
    }

    .button-3{
        background-color: white;
        border-color: $color-3-secondary;
        color:$color-3-secondary;
    
        &:hover{
            background-color: $color-3-secondary;
            color:white;
            border-width:1px;
        }
    }

    .button-4{
        background-color: white;
        border-color: $color-4-secondary;
        color:$color-4-secondary;
    
        &:hover{
            background-color: $color-4-secondary;
            color:white;
            border-width:1px;
        }
    }

    .button-disabled{
        cursor: not-allowed !important;
        &:hover{
            background-color:lightgrey;
            border-width:0px;
        }
    }

    .button-discrete{
        border:none;
    }
}