<link rel="stylesheet" type="text/css" href="./../../css/shadows.css">

<body>
    <section id="navbar">
        <ul>
            <li><a href="../Colors/colors.html">Colors</a></li>
            <li><a href="#">Text</a></li>
            <li><a href="../Buttons/buttons.html">Buttons</a></li>
            <li><a href="#">Shadows</a></li>
        </ul>
        <hr>
    </section>
    <h1>Shadows</h1>

    <div id="shadows">
        <div id="neutral-shadows">
            <div class="shadow shadow-neutral"><span>Neutral Shadow</span></div>
            <div class="shadow shadow-x2"><span>Shadow 2x</span></div>
            <div class="shadow shadow-x3"><span>Shadow 3x</span></div>
            <div class="shadow shadow-x4"><span>Shadow 4x</span></div>
        </div>
        <div id="special-shadows">
            <div class="shadow shadow-1"><span>Shadow 1 neutral</span></div>
            <div class="shadow shadow-2 shadow-x2"><span>Shadow 2 x2</span></div>
            <div class="shadow shadow-3 shadow-x3"><span>Shadow 3 x3</span></div>
            <div class="shadow shadow-4 shadow-x4"><span>Shadow 4 x4</span></div>
        </div>
    </div>
</body>