<link rel="stylesheet" type="text/css" href="../../css/buttons.css">

<body>
        <section id="navbar">
                <ul>
                    <li><a href="../Colors/colors.html">Colors</a></li>
                    <li><a href="#">Text</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="../Shadows/shadows.html">Shadows</a></li>
                </ul>
                <hr>
            </section>
    <h1>Buttons</h1>
    <div id="buttons">
        <div id="simple-buttons">
            <button class="button button-1">Button 1</button>
            <button class="button button-2">Button 2</button>
            <button class="button button-3">Button 3</button>
            <button class="button button-4">Button 4</button>
        </div>
        <div id="special-buttons">
            <button class="button button-1 button-discrete">Discrete Button 1</button>
            <button class="button button-2 button-discrete">Discrete Button 2</button>
            <button class="button button-3 button-disabled">Disabled Button 3</button>
        </div>
    </div>
</body>